<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  {{include '../_includes/header.html'}}
  <section class="container">
    <div class="row">
      <div class="col-md-5">
        {{ if !result }}
          此文章不存在或已被删除
          {{ else if result.userId !== sessionUser.id }}
          您没有权限修改此文章
          {{ else }}
      <form id="topic_info" action="/topic/{{ result.id }}/edit">
          <!--<div class="form-group">
          <label for="exampleInputEmail1">选择板块</label>
          <select class="form-control">
            <option>分享</option>
            <option>问答</option>
            <option>招聘</option>
            <option>客户端测试</option>
          </select>
        </div>-->
        <input type="hidden" id="topic_id" value="{{ result.id }}">
          <div class="form-group">
            <label for="exampleInputEmail1">标题</label>
            <input type="text" name="title" class="form-control" id="exampleInputEmail1" value="{{ result.title }}">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">内容</label>
            <textarea class="form-control" rows="3" name="content">
              {{ result.content }}
            </textarea>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        {{ /if }}
       
      </div>
    </div>
  </section>
  {{include '../_includes/footer.html'}}
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script>
    $("#topic_info").on("submit", function (e) {
      e.preventDefault();
      var formData = $(this).serialize();
      var url = $(this).attr("action")
      $.ajax({
        url: url,
        type: "post",
        data: formData,
        dataType: "json",
        success: function (ret) {
          if(ret.code==200)
          {
            location.href="/topic/"+$("#topic_id").val();
          }
        }
      })
    })
  </script>
</body>

</html>