<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/markdown-github.css">
  <style>
    .panel .panel-heading .action i {
      margin-right: 10px;
    }
  </style>
</head>

<body>
  {{include '../_includes/header.html'}}
  <section class="container">
    <div class="row">
      <div class="col-md-9">
        <article class="markdown-body">

          {{ if !result}} 此话题不存在或已被删除
          <br>
          <a href="/">返回</a> {{else}}
          <h1>{{ result.title }}</h1>
          {{ if result.userId === sessionUser.id }}
          <p><a href="/topic/{{ result.id }}/edit">编辑</a> <a href="/topic/{{ result.id }}/delete" id="delete_topic">删除</a></p>
          {{ /if }}
           {{@ result.content }}
          <div class="panel panel-default">
            <div class="panel-heading">
              <span>lipengzhou</span> commented
              <span>24 minutes ago</span>
              <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
            </div>
            <div class="panel-body">
              评论测试
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <span>lipengzhou</span> commented
              <span>24 minutes ago</span>
              <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
            </div>
            <div class="panel-body">
              评论测试
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <span>lipengzhou</span> commented
              <span>24 minutes ago</span>
              <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
            </div>
            <div class="panel-body">
              评论测试
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <span>lipengzhou</span> commented
              <span>24 minutes ago</span>
              <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
            </div>
            <div class="panel-body">
              评论测试
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <span>lipengzhou</span> commented
              <span>24 minutes ago</span>
              <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
            </div>
            <div class="panel-body">
              评论测试
            </div>
          </div>
          <hr>
          <form>
            <div class="form-group">
              <label for="exampleInputPassword1">添加回复</label>
              <textarea class="form-control" name="" id="" cols="10" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-success">回复</button>
          </form>
          {{/if}}
        </article>
      </div>
    </div>
  </section>
  {{include '../_includes/footer.html'}}
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script>
    $('#delete_topic').on('click', handleDelete)
    function handleDelete(e) {
      e.preventDefault()
      if (!window.confirm('Are you sure?')) {
        return
      }

      var url = $(this).attr('href')

      $.ajax({
        url: url,
        type: 'get',
        dataType: 'json',
        success: function (data) {
          if (data.code === 200) {
            window.location.href = '/'
          }
        }
      })
    }
  </script>
</body>

</html>